.main {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto 5vh;
  min-height: 70vh;
}

.left {
  margin: 10px;
}

.portfolio-nav {
  display: none;
}

.body-container {
  flex: 1 0 0;
}

@media only screen and (max-width: 800px) {
  .portfolio-nav {
    display: block;
  }

  .navbar-container {
    display: none;
  }
}
