.container {
  width: 100%;
  background-color: #f1ece1;
}

.gallery {
  clear: both;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

md-card {
  width: 100%;
  max-width: 800px;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: #f6f6f6;
  z-index: 0;
  transform: scale(1);
  transition: transform 1s, z-index 1s;
}

md-card:hover {
  z-index: 10000;
  transform: scale(1.05);
  cursor: pointer;
}

md-card img {
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
