.sidenavbar {
}

.sidenavbar > h1,h2,h3,h4 {
  margin: 10px;
}

.container {
  margin: auto;
  padding: 10px auto;
  display: flex;
  flex-direction: column;
}

.container > button {
  flex: 1;
  opacity: 0.5;
  transition: opacity 0.3s;
  text-align: left;
}

.container > button:hover {
  opacity: 1;
}
