.head-container {
  background: black url('../../../assets/bg_header.png') no-repeat;
  background-size: cover;
  transition: height 1s;
}

@media only screen and (max-width: 800px) {
  .head-container.collapsed {
    height: 0px;
  }
}
