.headbar {
  background-color: black;
  background: url('../../../assets/bg_header.png') no-repeat;
  background-size: cover;
  color: white;
  font-family: Open sans, Helvetica, Arila;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.container > div {
  margin: auto;
}

.subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

.subtitle > div {
  margin: auto 7px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.headbar a {
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.headbar a span {
  margin: auto;
}

.headbar a i {
  margin-right: 10px;
}

.headbar a:hover {
  opacity: 1;
  text-decoration: underline;
}

.name {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
