<div>
  <div class="container">
    <div class="title">Paste Image Here:</div>
    <div #myTarget id="target" class="target" tabindex="0">
    </div>
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <md-input-container>
        <input mdInput placeholder="Image Name" required name="name" ngModel>
      </md-input-container>
      <button #myUploadButton md-button *ngIf="blob">Upload</button>
    </form>
    <div *ngIf="url">
      <div class="text-container">
        <textarea #myText readonly rows="1">![]({{url}})
        </textarea>
      </div>
      <button md-button (click)="done()">Copy to Clipboard</button>
    </div>
  </div>
</div>
