<div class="blogpage">
  <div class="panel" *ngIf="auth.isLoggedIn()">
    <button *ngIf="!editing" md-button (click)="newPage()" >New Page</button>
    <button *ngIf="!editing" md-button (click)="startEdit()" >Edit Page</button>
    <button *ngIf="!editing" md-button (click)="deletePage()" >Delete Page</button>
    <button *ngIf="editing" md-button (click)="finishEdit()" >Apply</button>
    <button *ngIf="editing" md-button (click)="uploadImage()" >Upload Image</button>
  </div>
  <div style="height: 4vh;"></div>
  <div class="container" [ngClass]="{'edit': editing}">
    <div style="background-color: white;">
    <div class="title">{{title}}</div>
    <div class="subtitle">
      <div class="author">{{author}}</div>
      <div class="date">{{date}}</div>
    </div>
    <div *ngIf="md || md === ''" class="markdown-area">
      <markdown [editing]="editing" [(md)]="md"></markdown>
    </div>
    </div>

    <div class="adjacent">
      <a [routerLink]="prevPageLink()"
         style="float:left"
         *ngIf="prevPage">prev: {{prevPage.title}}</a>
      <a [routerLink]="nextPageLink()"
         style="float:right"
         *ngIf="nextPage">next: {{nextPage.title}}</a>
    </div>
  </div>
</div>
