.blogpage {
  background-color: #F5F1ED;
}

.container {
  max-width: 950px;
  width: 95vw;
  margin: auto;
  border-radius: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container.edit {
  max-width: 100%;
}

.panel {
  display: flex;
  justify-content: flex-end;
}

.panel button {
  max-width: 33%;
  width: 120px;
  background-color: #dddddd;
}

.markdown-area {
  flex-grow: 1;
}
