.container {
  margin-top: 20px;
}

h1,h2,h3,h4 {
  margin: 10px;
}

.content {
  margin: auto;
  padding: 10px auto;
  display: flex;
  flex-direction: column;
}

.content > button {
  flex: 1;
  opacity: 0.5;
  transition: all 0.3s;
  text-align: left;
}

.content > button.active {
  opacity: 0.9;
  background-color: #ddd;
}

.content > button:hover {
  opacity: 1;
}

.content button.button-add {
  text-align: center;
  background-color: lightgray;
  margin-left: 10px;
}
