.blogheader {
  background-color: #CCBF95;
}

.login {
  float: right;
}

.header-content {
  display: flex;
  width: 100%;
  min-height: 22vh;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 3vh;
}

.login {
  top: 0;
  right: 0;
}

.title {
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
  color: #FFFAE6;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1.3em;
  font-family: 'Orbitron', sans-serif;
}

.footnote {
  background-color: #CCBF95;
  display: flex;
  width: 100%;
  min-height: 10vh;
  font-size: 1.2em;

  align-items: center;
  justify-content: space-around;
  color: #FFFAE6;
}

.footnote-column {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.footnote a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.footnote a:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .login {
    display: none;
  }

  .blogheader {
    min-height: 0;
  }

  .title {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1em;
  }

  a[md-tab-link] {
    min-width: 100px;
  }
}
