.markdown {
  display: flex;
  height: 90vh;
}

.textarea-container {
  width: 50%;
  height: auto;
}

.editor {
  width: 98%;
  margin: auto;
  height: 100%;
}

.display-container {
  padding: 0 20px;
  background: white;
  width: 100%;
  height: auto;
}

.display-container.edit {
  width: 50%;
}

:host >>> code {
  border-radius: 5px;
}

:host >>> .CodeMirror-code {
  font-family: 'Inconsolata', monospace;
}

:host >>> .CodeMirror {
  height: 100%
}

:host >>> .cm-header {
  color: black;
}

:host >>> .cm-header-1 {
  font-size: 2em;
}

:host >>> .cm-header-2 {
  font-size: 1.5em;
}

:host >>> .cm-header-3 {
  font-size: 1em;
}

:host >>> .cm-header-4 {
  font-size: 1em;
}

:host >>> .cm-comment {
  color: gray;
}
