<div class="headbar" >
  <div class="container">
    <div>
      <div class="name">Fanbo Xiang</div>
      <div class="subtitle">
        <div>
          Designer
        </div>
        <div>
          Web Developer
        </div>
        <div>
          Mobile Developer
        </div>
        <div>
          Game Developer
        </div>
      </div>
    </div>

    <div class="links">
      <a href="https://github.com/fbxiang">
        <div><i class="fa fa-github"></i><span>Github</span></div>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100004933159345">
        <div><i class="fa fa-facebook-square"></i>Facebook</div>
      </a>
      <a href="https://www.linkedin.com/in/fanbo-xiang">
        <div><i class="fa fa-linkedin-square"></i>Linkedin</div>
      </a>
    </div>

    <div class="contact">
      <a href="mailto:fxiang2@illinois.edu">fxiang2@illinois.edu</a>
      <div>+1 (217)979-0754</div>
    </div>

  </div>

</div>
