<div class="headbar" >
  <div fxLayout="column" fxLayout.lg="row" smLayout="column" fxLayoutAlign="center" class="container">
    <div fxLayout="column" fxLayoutAlign="center">
      <div class="name">Fanbo Xiang</div>
      <div fxLayout="column" fxLayout.lg="row" fxLayoutGap="10px" style="text-align: center;">
        <div>
          Designer
        </div>
        <div>
          Web Developer
        </div>
        <div>
          Mobile Developer
        </div>
        <div>
          Game Developer
        </div>
      </div>
    </div>

    <div fxLayout="column">
      <a href="https://github.com/fbxiang">
        <div><i class="fa fa-github"></i><span>Github</span></div>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100004933159345">
        <div><i class="fa fa-facebook-square"></i>Facebook</div>
      </a>
      <a href="https://www.linkedin.com/in/fanbo-xiang-260511112">
        <div><i class="fa fa-linkedin-square"></i>Linkedin</div>
      </a>
    </div>

    <div fxLayout="column">
      <a href="mailto:fxiang2@illinois.edu">fxiang2@illinois.edu</a>
      <div>+1 (217)979-0754</div>
    </div>

  </div>

  <!-- <div>
       <md-toolbar color="primary">
       <span><md-icon>mood</md-icon></span>

       <span>Yay, Material in Angular 2!</span>

       <button md-icon-button [md-menu-trigger-for]="menu">
       <md-icon>more_vert</md-icon>
       </button>
       </md-toolbar>
       <md-menu x-position="before" #menu="mdMenu">
       <button md-menu-item>Option 1</button>
       <button md-menu-item>Option 2</button>
       </md-menu>

       <md-card>
       <button md-button>All</button>
       <button md-raised-button>Of</button>
       <button md-raised-button color="primary">The</button>
       <button md-raised-button color="accent">Buttons</button>
       </md-card>

       <span class="done">
       <button md-fab>
       <md-icon>check circle</md-icon>
       </button>
       </span>
       </div> -->
</div>
