<div class="container">
  <img src="../../assets/profile.png" alt="" />
  <div class="text">
    <h1>Fanbo Xiang</h1>
    <div>University of Illinois at Urbana-Champaign, Senior Undergraduate</div>
    <div style="font-style: italic">Bachelor's Degree in Computer Science, Dual Degree in Applied Mathematics</div>
    <div style="color: #555">Hangzhou, Zhejiang, China</div>
    <p>I am a computer science student focusing on data science and machine learning. I have experience and interest in computer game making, music information retrieval, and software engineering as well. I will continue with computer science after my graduation. After graduation, I would like to work as a developer or researcher either in a company or in a graduate program.</p>
    <p>You can contact me at <a href="mailto:fxiang2@illinois.edu">fxiang2@illinois.edu</a> or any contact method I listed above.</p>
  </div>
  <div style="clear:both"></div>
</div>
