.blogclip {
  border: solid gray 1px;
  border-radius: 5px;
  max-width: 600px;
  margin: 10px auto;
  background-color: white;
}

.main {
  max-height: 50vh;
  overflow: hidden;
  position: relative;
  padding: 5px 10px;
}

.mask {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: linear-gradient(to bottom, transparent 10%, transparent 70%, white 100%);
}

.title {
  font-family: 'OsWald', sans-serif;
  font-size: 2em;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.author {
}

.date {
  color: gray;
  font-size: 0.8em;
}

.read-more {
  text-align: center;
  padding-bottom: 5px;
}

:host >>> h1, :host >>> h2, :host >>> h3, :host >>> h4, :host >>> h5, :host >>> h6 {
  font-size: 1em;
}
