/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Inconsolata';

body {
  margin: 0;
  background-color: #f7f5f4;
  font-family: Open sans, Helvetica, Arila;
}
