/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Inconsolata';

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Orbitron:900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  background-color: #f7f5f4;
  font-family: Roboto, Helvetica, Arila;
}

h1, h2, h3 {
  font-family: Open Sans;
}
