<div class="addpage">
  <form novalidate #f="ngForm" (ngSubmit)="submit(f)">
    <md-input-container>
      <input mdInput placeholder="Page Id" required name="id" ngModel >
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Page Name" required name="name" ngModel >
      <md-error>This field is required</md-error>
    </md-input-container>
    <button md-button type="submit" >Create</button>
  </form>
  <div class="error">{{submitError}}</div>
</div>
